{% extends "base.jinja" %}
{% import 'macros_icons.jinja' as icon %}

{% block page %}

<a href="{{url_for('form_patrimonios')}}"><button type="button" class="btn btn-danger">Adicionar</button></a>
<table class="table">
    <thead>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">N° Patrimônio</th>
        <th scope="col">Setor</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        
            {% for patrimonio in patrimonios %}
        <tr>
            <td>{{ patrimonio[0] }}</td>
            <td>{{ patrimonio[1] }}</td>
            <td>{{ patrimonio[2] }}</td>
            <td>{{ setores[patrimonio[3]][1] }}</td>
            <td>
                <a href="{{ url_for('form_patrimonios', id=patrimonio[0]) }}"><button class="btn btn-sm btn-danger">{{ icon.icon_pen(size=18) }}</button></a>
                <form action="{{ url_for('patrimonios') }}" method="POST" style="display:inline;">
        
                    {# 1. Campo Oculto para Sobrescrever o Método #}
                    <input type="hidden" name="_method" value="DELETE">
                    
                    {# 2. Campo Oculto para Passar o ID (Chave Primária) #}
                    <input type="hidden" name="id" value="{{ patrimonio[0] }}">
                    
                    {# 3. O Botão de Submissão #}
                    <button type="submit" class="btn btn-sm btn-danger" 
                            onclick="return confirm('Tem certeza que deseja deletar {{ patrimonio[1] }}?');">
                        {{ icon.icon_trash(size=18) }}
                    </button>
                </form>
            </td>
        </tr>
            {% else %}
            <p>Nenhum patrimônio cadastrado ainda.</p>
            {% endfor %}
        
    </tbody>
</table>

{% endblock %}