{% extends "base.jinja" %}

{% block page %}

<form action="" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nome:</span>
        <input type="text" class="form-control" placeholder="Nome" name="nome" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nº Patrimônio:</span>
        <input type="text" class="form-control" placeholder="Nº Patrimônio" name="patrimonio" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Setor:</span>
        <input type="text" class="form-control" placeholder="Setor" name="setor" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
</form>

{% endblock %}