{% extends "base.jinja" %}

{% block page %}

<a href="{{url_for('form_patrimonios')}}"><button type="button" class="btn btn-danger">Adicionar</button></a>
<table class="table">
    <thead>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">N° Patrimônio</th>
        <th scope="col">Setor</th>
    </thead>
    <tbody>
        
            {% for patrimonio in patrimonios %}
        <tr>
            <td>{{ patrimonio[0] }}</td>
            <td>{{ patrimonio[1] }}</td>
            <td>{{ patrimonio[2] }}</td>
            <td>{{ setores[patrimonio[3]][1] }}</td>
        </tr>
            {% else %}
            <p>Nenhum patrimônio cadastrado ainda.</p>
            {% endfor %}
        
    </tbody>
</table>

{% endblock %}